.container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.image-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

/* Initial*/
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* Waiting */
.image-container img.waiting {
  display: block;
  animation: slowBounce 2s infinite ease-in-out;
}

@keyframes slowBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Dancing */
.image-container.dance img.dance-frame-1 {
  display: block;
  animation: danceSwap1 0.4s infinite step-end;
}

.image-container.dance img.dance-frame-2 {
  display: block;
  animation: danceSwap2 0.4s infinite step-end;
}

@keyframes danceSwap1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes danceSwap2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.action-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #3700b3;
}

.action-button:active {
  background-color: #03dac5;
}
